* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

.colCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftCenter {
  display: flex;
  justify-content: left;
  align-items: center;
}

.rightCenter {
  display: flex;
  justify-content: right;
  align-items: center;
}
